body{
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.dropdown-menu[data-bs-popper] {
    left: auto;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #fff;
    outline: 0;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-body {
    padding: 0.75rem 1.25rem;
}

.accordion-body a{
    text-decoration: none;
    color: #5f676b;
    margin-left: 15px;
}

.accordion-body a:hover{
    color: #0a53be;
}

.heling_full{
    height: 600px;
}

.container{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 12px;
    align-items: center;
}

.container_2{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 0;
}

.container_3{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 60px;
    border-right: 1px solid #d5cece;
    border-left: 1px solid #d5cece;}

.container_4{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    border-right: 1px solid #d5cece;
    border-left: 1px solid #d5cece;
}

.section{
    width: 100%;
    align-items: center;
}

.ml{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.ml i{
    font-size: 14px;
    padding-left: 40px;
    color: #000;
}

.nav-link{
    padding-left: 10px;
    font-size: .75rem;
}

.nav-link:last-child{
    padding-left: 10px;
}

.nav-link:hover{
    text-decoration: underline;
}

.nav-link_none{
    display: none;
}

.nav_i{
    font-weight: 100;
    margin-right: 15px;
}

.header_logo{
    display: none;
}

.header_logo a{
    text-decoration: none;
    color: #a0c814;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.header_logo p{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

p{
    margin-bottom: 0;
}

.p_len{
    padding-top: 3em;
}

ul{
    padding-left: 0;
    border: 1px solid black;
    font-size: .75rem;
}

hr{
    height: 1px;
    border: 0;
    background-color: #d5cece;
}

li{
    list-style-type: none;
    font-size: .75rem;
    margin-top: 3px;
}

i{
    font-size: .75rem;

}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 900;
}

.logo_2{

}

.logo h3{
    font-size: 1.45rem;
    font-weight: 600;
    padding-left: 40px;
    color: #0e2029;
}

.info{
    justify-content: right;
    display: flex;
}

.info a{
    color: #0e2029;
    font-weight: 500;
    margin-left: 15px;
    text-decoration: none;
    position: relative;
}

.info a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out 0.2s;
}

.info a:hover::after {
    transform: scaleX(1);
}

.house i{
    font-size: 12px;
    color: #000;
}

.house p{
    font-size: 12px;
    color: rgba(10, 24, 34, .64);
}

.fon{
    width: 100%;
    background-image: url("../img/fon.png");
}

.fon h1{
    font-weight: 700;
    padding-top: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.text h1{
    font-size: 28px;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: 700;
}

.info_text img{
    padding-bottom: 10px;
}

.text_info a{
    color: #000;
    text-decoration: none;
    position: relative;
    font-size: 22px;
    font-weight: 500;
}

.text_info a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out 0.2s;
}

.text_info a:hover::after{
    transform: scaleX(1);
}

.text_info p{
    color: #5f676b;
    font-size: 16px;
    padding-right: 15px;
    padding-top: 10px;
}

.blok_none{
    display: none;
}

.proda{
    color: #5f676b;
    width: 70%;
    margin: 0 auto;
}

.proda h1{
    color: #000;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 2.3rem;
    font-weight: 700;
}

.green{
    color: #a0c814;
    border: 1px solid #5f676b;
    padding: .875rem .625rem;
    line-height: 1;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    text-align:center;
    position: relative;
}

.green:hover{
    color: #a0c814;
    text-decoration: underline;
}

.grey{
    color: #858e9b;
    border: 1px solid #5f676b;
    padding: .875rem .625rem;
    line-height: 0.5;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}

.grey_bloc{
    margin: auto;
    border: 1px solid #5f676b;
    padding: .175rem .625rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.grey_bloc a{
    color: #858e9b;
    text-decoration: none;
    font-size: 16px;
}

.grey_bloc p{
    color: #858e9b;
    font-size: 32px;
    margin-left: auto;
}

.grey:hover{
    color: #858e9b;
    text-decoration: underline;
}

.levl_du{
    box-shadow: .0625rem .25rem .375rem 0 rgba(0, 0, 0, .18);
}

.levl_du a{
    font-size: 22px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
    position: relative;
}

.levl_du a:hover{
    text-decoration: underline;
}

.section_item{
    padding-left: 0;
}

.subscribe{
    background-color: #f1f2f1;
}

.subscribe h3{
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.1428571429;
    color: #474d50;
}

.subscribe h6{
    color: #474d50;
    font-weight: 400;
    font-size: 16px;
}

.subscribe p{
    color: #474d50;
    font-size: 13px;
}

.subscribe a{
    text-decoration: none;
}

.subscribe a:hover{
    color: #006ec9;
    text-decoration: underline;
}

.img_block{
    display: none;
}

.p_0{
    padding-left: 0;
}

.p_0_2{
    padding-right: 0;
}

.span_adress{
    font-size: 32px;
}

.adres_text{
    color: #474d50;
    font-weight: 700;
    font-size: 22px;
}

.adres_tell a{
    color: #006ec9;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

.adres_decoration:hover{
    text-decoration: underline;
}

.ava h3{
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    color: #5f676b;
}

.ava p{
    color: #5f676b;
}

.ava img{
    width: 100%;
}

.we h3{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.img_block a{
    width: 4%;
    margin-left: 15px;
}

.img_block img:hover{
    margin-left: 0;
}

.scroll{
    display: flex;
    margin-left: auto;
    color: rgba(14, 32, 41, .72);
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 70px;
    text-decoration: none;
}

.scroll:hover{
    color: #000;
}

.footer{
    background-color: #5f676b;
    color: #fff;
}

.footer_info{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.footer_info:hover{
    color: #fff;
    text-decoration: underline;
}

.a{
    padding-top: 10px;
    line-height: 0.8;
}

.a a{
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

.a a:hover{
    text-decoration: underline;
}

.info_text_2{
    line-height: 1;
}

.zaebalo{
    margin-left: auto;
}

.zaebalo a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.zaebalo a:hover{
    text-decoration: underline;
}

.zaebalo_p{
    font-size: 12px;
}

.modal-dialog_exit{
    margin-left: auto;
    padding-right: 15px;
    padding-top: 15px;
}

.modal-dialog_exit a{
    margin-right: 15px;
    text-decoration: none;
    color: #2e2c2c;
    font-size: 14px;
}

.modal-dialog_exit a:hover{
    text-decoration: underline;
    color: #000;
}

.input_lupa{
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #5f676b;
    font-size: 16px;
    margin-left: 70px;
    width: 60%;
}

.input_lupa_2{
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #5f676b;
    font-size: 16px;
    width: 100%;
}

.lupa_i{
    margin-right: 10px;
    font-size: 18px;
    position: relative
}

.logo input:focus{
    color: #000;
}

.pizdes{
    width: 35%;
    padding-bottom: 25px;
    padding-top: 15px;
}

select{
    margin-bottom: 20px;
    font-size: 18px;
    color: #858e93;
    width: 100%;
    padding: .875rem 2rem 1rem 1.125rem;
    border-radius: .25rem;
    border-color: #adb3b6;
    background-color: #fbf9f9;

}

.dropdown{
    margin-bottom: 20px;
    font-size: 18px;
    color: #858e93;
    width: 100%;
    border-radius: .25rem;
    border-color: #adb3b6;
    background-color: #fbf9f9;
}

.btn-secondary{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    color: #858e93;
    width: 100%;
    border-radius: .25rem;
    border-color: #adb3b6;
    background-color: #fbf9f9;
}

.btn-secondary:hover{
    color: #858e93;
    background-color: #fbf9f9;
    border-color: #adb3b6;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #858e93;
    background-color: #fbf9f9;
    box-shadow: 0 0 0 .25rem rgba(130, 138, 145, .5);
}

.dop_info{
    font-size: 12px;
    margin-bottom: 6px;
    color: #adb3b6;
    font-weight: 600;
}

.tab-container {
    width: 300px;
    margin: 20px auto;
}

.tabs {
    display: flex;
}

.tab-btn {
    border-radius: 3px 3px 0 0;
    margin-right: 1px;
    padding: 5px 20px;
    background-color: #e8e8e8;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #858e93;
}

.tab-btn:hover {
    background-color: #e8e8e8;
}

.tab-btn.active {
    color: #474d50;
    border-radius: 3px 3px 0 0;
    margin-right: 1px;
    background-color: #fff;
    font-weight: bold;
}

.tab-content {
    background-color: #fff;
    padding: .6875rem 1.1875rem 1.8125rem .875rem;
    box-shadow: .0625rem .1875rem .375rem 0 rgba(0, 0, 0, .18);
    border-radius: 0 .0625rem .0625rem .0625rem;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.filter-btn {
    font-size: .875rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: .25rem;
    border: 1px solid #ccc;
    background-color: #fbf9f9;
    cursor: pointer;
    width: 50%;
    color: #858e93;
}

.filter-btn.active {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border: 2px solid #a0c814;
    color: #474d50;
}

.filter-content {
    display: none;
}

.filter-content.active {
    display: block;
}

.search-btn {
    width: 100%;
    background-color: #a0c814;
    padding: .75rem .875rem .625rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
}

.search-btn_2{
    font-size: 14px;
    margin-left: auto;
    width: 49%;
    background-color: #a0c814;
    padding: .75rem .875rem .625rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
}

.search-btn_3{
    display: block;
    font-size: 16px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 98%;
    background-color: rgba(14, 32, 41, .72);
    color: #fff;
    padding: .75rem .875rem .625rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
}

.search-btn_3 a{
    color: #fff;
    text-decoration: none;
}

.search-btn_i{
    margin-right: 10px;
    font-size: 18px;
}


@media (max-width: 1399.98px) {
    .modal-fullscreen-xxl-down .modal-content {
        height: 150px;
        border: 0;
        border-radius: 0;
    }

}

@media (max-width: 1200px){
    .nav-link_none{
        display: block;
    }

    .nav-link_blok{
        display: none;
    }
}

@media (max-width: 992px) {
    .blok_none{
        display: block;
    }

    .container_4, footer{
        display: none;
    }

    .scroll{
        display: none;
    }

    .adres_tell{
        display: none;
    }

    .info_text img {
        display: block;
        margin: auto;
    }

    .ava img {
        width: auto;
    }

    .text_info p {
        color: #5f676b;
        font-size: 18px;
        margin-bottom: 40px;
    }

    .proda{
        width: 85%;
        font-size: 17px;
    }

    .p_len{
        padding-top: 0;
    }

    .section_item {
        padding-left: 12px;
        margin-bottom: 30px;
     }

    .section_text{
        color: #000;
        font-size: 22px;
    }

    .p_0_2 {
        padding-right: 12px;
    }

    .p_0{
        padding: unset;
    }

    .img_none{
        display: none;
        margin: auto;
        height: 350px;
        width: 80%;
    }

    .img_block{
        margin: auto;
        display: block;
        width: 100%;
    }

    .section_none{
        display: none;
    }

    .nav_i{
        margin-right: 0;
    }

    .info{
        display: none;
    }

    .logo{
        display: none;
    }

    .header_logo{
        display: block;
    }

    .modal-fullscreen-xxl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .ml i {
        padding-left: 0;
    }

    .ml{
        margin-top: auto;
    }

    .dropdown-item {
        width: 100%;
    }



}

@media (max-width: 830px){
    .grey {
        font-size: 14px;
    }

    .grey_bloc a{
        font-size: 14px;
    }

    .img_block a {
        width: 7%;
        margin-left: 15px;
    }
}

@media (max-width: 767px){

    .span_adress{
        margin-left: 97%;
    }

    .adres br{
        display: none;
    }

}

@media (max-width: 750px){
    .proda{
        width: 90%;
        font-size: 15px;
    }

    .proda h1 {
        font-size: 23px;
    }

    .text h1 {
        font-size: 22px;
    }

    .pizdes {
        width: auto;
        padding-bottom: 25px;
        padding-top: 15px;
    }

    .fon h1 {
        font-size: 28px;
    }

    .p_0 img{
        height: 300px;
        width: 100%;
    }

    .subscribe h3 {
        font-size: 1.45rem;
        margin-bottom: 20px;
    }

    .subscribe h6 {
        font-size: 14px;
    }

    .proda{
        width: 100%;
        font-size: 15px;
    }

    .adres_text {
        line-height: 25px;
        font-size: 22px;
    }

    .section_text{
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 650px){
    .container_3{
        padding: 0 30px;
    }

    .p_0 img{
        height: 250px;
        width: 100%;
    }

    .text_info p{
        font-size: 15px;
        margin-bottom: 40px;
    }

    .ava h3 {
        font-size: 20px;
    }

    .ava p {
        margin-top: 20px;
        font-size: 14px;
    }

    .search-btn_2{
        font-size: 12px;
    }

    .search-btn_i{
        font-size: 12px;
    }

    .img_block a {
        width: 9%;
        margin-left: 15px;
    }
}

@media (max-width: 450px){
    .p_0 img{
        height: 200px;
        width: 100%;
    }

    .grey_bloc a{
        font-size: 12px;
    }

    .fon h1 {
        font-size: 22px;
    }

    .text h1 {
        font-size: 20px;
    }

    .proda h1 {
        font-size: 20px;
    }

    .pizdes {
        padding-top: 0;
    }

    .ava h3 {
        font-size: 18px;
    }

    .we h3 {
        font-size: 20px;
    }

    .img_block a {
        width: 11%;
        margin-left: 15px;
    }
}

@media (max-width: 340px){
    .tab-container {
        width: auto;
    }

    .p_0 img{
        height: 150px;
        width: 100%;
    }

    .we h3 {
        font-size: 18px;
    }
}




